.category-title {
  margin-top: 30px;
  text-align: center;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  column-gap: 40px;
  row-gap: 70px;
  margin-bottom: 30px;

  @media screen and (max-width: 495px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
