.product__detail__container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;

  @media screen and (max-width: 807px) {
    flex-direction: column;
    column-gap: 10px;
    align-items: flex-start;
    width: 90%;
  }

  .image__container {
    width: 50%;
    @media screen and (max-width: 807px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto; // Change to auto, so the height adjusts proportionally
    }
  }

  .details {
    width: 50%;
    h2 {
      font-weight: 600;
    }
    p {
      margin: 30px 0;
    }
    .btn__container {
      display: flex;
      .cart__btn {
        min-width: 250px;
        padding: 40px 30px;
        font-size: 1.2rem;
        @media screen and (max-width: 1090px) {
          width: 150px;
          padding: 30px 10px;
        }

        @media screen and (max-width: 807px) {
          padding: 10px 30px;
          font-size: 1rem;
        }
      }
      .heartIcon {
        background: teal;
        padding: 20px;
        min-width: 80px;
        height: 80px;
        border-left: 1px solid white;
        &:hover {
          cursor: pointer;
          background-color: #d4ad00;
          box-shadow: 0 0 20px #a38500;
        }
        @media screen and (max-width: 1090px) {
          width: 30px;
          height: 60px;
          padding: 15px;
        }
        @media screen and (max-width: 807px) {
          padding: 10px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.related__product__container {
  width: 90%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-weight: 600;
  }

  .related_productCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 60px;
    }

    @media screen and (max-width: 485px) {
      grid-template-columns: 1fr;
      gap: 20px; // Adjust gap for smaller screens
      height: 100%;
    }
  }
}
